# exclude everything
/*

# Inlcude gradle for CI
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# Include CI folders/files
!.travis.yml
!.circleci/

# include license and readme
!README.md
!LICENSE

# Include all sources
!src

# Include docker file
!dockerfile

# Include git files
!.gitmodules
!.gitignore

# Include git directory
!.github/

# Include libs
!libs/

# Include wiki
!idea.wiki/
