# exclude all
/*

# Inlcude gradle for CI
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# Include CI itself
!.travis.yml

# include license and readme
!README.md
!LICENSE

# include sourcecode
!src/

# Include git files
!.gitmodules
!.gitignore

# Github specific files and directories
!.github/

# Explicit ignores
Thumbs.db
.DS_Store