# exclude all
/*

# Inlcude gradle for CI
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# Include CI folders/files
!.travis.yml
!.circleci/

# include license and readme
!README.md
!LICENSE

# Include all sources
!src/

# Include git files
!.gitmodules
!.gitignore

# Intel | idea
Applied-Integrations.ipr

# Include git directory
!.github/

# Ignore these guys:
.DS_Store